
/*------COLORS------*/
/*orange = #e67e22*/
/*text = #555*/
/*gray background = #f4f4f4*/

/*------------------------------------------------------------------------*/
/*BASIC SETUP*/
/*------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /*to keep text in width when screen size reduced*/
    overflow-x: hidden;
}

/*CLEAR FLOATS*/
.clearfix {zoom 1}
.clearfix:after {
    content: ',';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*------------------------------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*------------------------------------------------------------------------*/

/*------ROWS------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*------SECTIONS------*/

section {
    padding: 80px 0;
}

/*------BOXES------*/

.box {
    padding: 1%;
}

/*------HEADINGS------*/

/*gets rid of white space at top of page*/
h1, 
h2,
h3{
    /*decrease font weight b/c of big font*/
    font-weight: 300;
    text-transform: uppercase;
   
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    /*relative of default in html (20px) = 40px*/
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
   font-size: 110%;
   margin-bottom: 15px;
}

/*line between h2 and text*/
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
/*    specify content...this is blank*/
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;  
}

h3.hidden {
    visibility: hidden;
}

/*------PARAGRAPHS------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    /*15% b/c our width is 70%...100-70 = 30/2=15 */
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*------ICONS--------*/

    /*icons in section one*/
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    text-align: center;
}

    /*icons in cities section*/
.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*------GENERIC LINKS--------*/

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    -webkit-transition: color 0.2s;    transition: color 0.2s;
}

a:hover,
a:active {
    color: #555;   
}

/*------LISTS------*/

ul {
    list-style: none;
}


/*------------------------------------------------------------------------*/
/*BUTTONS*/
/*------------------------------------------------------------------------*/

/*inline-block (vs. inline) element allows heading and margin. Doesn't force line break*/

/*states of buttons: link, hover, or active*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
/*    10 top and bottom and 30 left and right*/
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
/*    makes background color, border, font color change slower*/
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
/*    create space between two buttons*/
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]{
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

/*------------------------------------------------------------------------*/
/*HEADER*/
/*------------------------------------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;  
}


.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    /*lines up left, transform to center*/
    -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%)
}

.logo,
.logo-black{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/*black logo for sticky nav*/
.logo-black {
    /*hide black logo in normal state*/
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/*NAVIGATION*/
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, 
.main-nav li a:visited {
    /*padding creates space between text and border*/
    padding: 8px 0;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    /*we want 18px, so it's 18/20=90%*/
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*mobile nav*/
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    /*set cursor as pointer...not pointer if not using href*/
    cursor: pointer;
    /*invisible on full screen*/
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/*sticky nav*/
.sticky {
    position: fixed;
    /*start on top left corner*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    /*shades bottom of sticky nav to show separation*/
    box-shadow: 0 2px 2px #efefef;
    /*puts elelement on top of other elements*/
    z-index: 9999;
}

.sticky .main-nav { margin-top: 18px;}

.sticky .main-nav li a:link, 
.sticky .main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    color: #555;
}

/*hide white and show black if inside sticky nav*/
.sticky .logo {display: none;}
.sticky .logo-black  {display: block;}

/*------------------------------------------------------------------------*/
/*FEATURES*/
/*------------------------------------------------------------------------*/

.section-features,
.long-copy {
    margin-bottom: 30px;
}

/*------------------------------------------------------------------------*/
/*MEALS*/
/*------------------------------------------------------------------------*/

.section-meals {
    padding: 0;
}

.meals.showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

    /*width = 100% of parent*/
.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    width: 100%;
    height: auto;
    /*instead of 100% is 115%*/
    -webkit-transform: scale(1.15);transform: scale(1.15);
    -webkit-transition: opacity 0.5s, 
    -webkit-transform 0.5s;transition: opacity 0.5s, -webkit-transform 0.5s;transition: transform 0.5s, opacity 0.5s;transition: transform 0.5s, opacity 0.5s,
    -webkit-transform 0.5s;
    opacity: 0.7;
    
}

/*animation*/
.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}

/*------------------------------------------------------------------------*/
/*HOW IT WORKS*/
/*------------------------------------------------------------------------*/

.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px; 
}

/*format app buttons to be equal in size*/
.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*------------------------------------------------------------------------*/
/*CITIES*/
/*------------------------------------------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

/*------------------------------------------------------------------------*/
/*TESTIMONIALS*/
/*------------------------------------------------------------------------*/

/*remember that background images go in css folder*/
.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    /*because we added an absolute for quotation marks*/
    margin-top: 40px;
}

blockquote::before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    /*remove line break and put paragraph together*/
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    /*align text with image*/
    vertical-align: middle;
}

/*------------------------------------------------------------------------*/
/*SIGN UP*/
/*------------------------------------------------------------------------*/

.section-plans {
    background-color: #f4f4f4;
}

/*why a div (plan-box) inside of column? Otherwise couldn't make the columns different than parent ie.white background*/
.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    /*center inside of parent*/
    margin-left: 5%;
    /*5% is half of what's left of 100-90%*/
    /*box shadow = x y blur color*/
    box-shadow: 0 2px 2px #e3e3e3;
}

/*section each (3) subsection*/

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:last-child {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    border-bottom: none;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.plan-price {
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 10px;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/*------------------------------------------------------------------------*/
/*FORM*/
/*------------------------------------------------------------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
select[type=email],
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

/*to change button...go to BUTTON section and look for = input[type_submit]*/

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}

/*------------------------------------------------------------------------*/
/*FOOTER*/
/*------------------------------------------------------------------------*/

footer {
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}

.footer-nav {
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

/*no line break and puts side by side*/

.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: none;
    color: #888;
    -webkit-transition: color 0.2s;transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links:link,
.social-links:visited {
    font-size: 170%;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-googleplus,
.ion-logo-instagram {
    -webkit-transition: color 0.2s;transition: color 0.2s;
}

.ion-logo-facebook:hover {
    color: #3b5998;
}
.ion-logo-twitter:hover {
    color: #55acee;
}
.ion-logo-googleplus:hover {
    color: #dd4b39;
}
.ion-logo-instagram:hover {
    color: #bc2a8d;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/*------------------------------------------------------------------------*/
/*ANIMATIONS*/
/*------------------------------------------------------------------------*/

/*adds fade animation for all indicated*/
.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.js--wp-4 {-webkit-animation: 1s;animation: 1s;}

.js---wp-1 .animated,
.js---wp-2 .animated, 
.js---wp-3 .animated {
    opacity: 1;
}